body {
  font-family: "Abel";
  font-size: 12px;
  background-color: #eaecf0;
}

text {
  font-family: "Abel";
  font-weight: bold;
}
#charts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.chart {
  width: 100%;
  overflow-x: auto;
}

/*start--------------media queries*/
@media (max-width: 768px) {
  #line-chart-logo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #bar-chart-logo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  #line-chart-logo {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
  }
  #bar-chart-logo {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
  }
}
/*end  --------------media queries*/

/* styles for line chart */

#line-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#line-chart-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  font-size: 16px;
  font-weight: bold;
}
#line-chart-legends {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
#line-chart {
  width: 100%;
  overflow-x: auto;
  padding: 0;
  margin: 0;
}

#line-chart-description {
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
}
/* styles for bar & line chart */

#bar-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#bar-chart-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  font-size: 16px;
  font-weight: bold;
}
#bar-chart-legends {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
#bar-chart {
  width: 100%;
  overflow-x: auto;
  padding: 0;
  margin: 0;
}

/* -- styls for donut chart --*/
@media (max-width: 512px) {
  #donut-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 512px) {
  #donut-chart-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
#donut-chart-wrapper {
  display: flex;
  flex-direction: column;
}
#donut-chart-legends {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
#donut-chart-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  font-size: 16px;
  font-weight: bold;
}

#donut-chart {
  display: flex;
  justify-content: center;
}

.cell1 {
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.cell2 {
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.tooltip {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 2px;
  font: 12px "Abel";
  background: #eaecf0;
  border-left: 15px solid #1f265c;
  border-right: 1px solid #a2c2e7;
  border-top: 1px solid #a2c2e7;
  border-bottom: 1px solid #a2c2e7;
  pointer-events: none;
}
.tip-content {
  display: flex;  
}

.tip-content-row {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.b-date {
  margin-top: 8px;
  margin-left: 8px;
}
