body {
  font-family: "Abel";
  font-size: 12px;
  background-color: #eaecf0;
}

text {
  font-family: "Abel";
  font-weight: bold;
}
#charts-container {
  display: flex;
  justify-content: center;  
  align-items: center;
  flex-direction: column;
  width: calc(100% - 16px);
  height: 100%;
}

.chart {  
  width: 100%;  
}